.help-block {
   display: none;
   margin-top: 5px;
   margin-bottom: 10px;
   color: #737373;
 }

 .add_tag {
   margin-top: 2%;
   margin-left: 60%;
   margin-bottom: 2%;
 }
 body{
   background-image: url("/static/img/red.jpeg");
   background-repeat: no-repeat;
   background-size: cover;

 }
 #map {
         height: 400px;
         width: 100%;
         background-color: #000;
        }
